<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.interviewsystem.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cuit.interviewsystem.model.entity.User">
            <id property="user_id" column="user_id" />
            <result property="username" column="username" />
            <result property="role" column="role" />
            <result property="email" column="email" />
            <result property="phone" column="phone" />
            <result property="password" column="password" />
            <result property="avatar_url" column="avatar_url" />
            <result property="profile" column="profile" />
            <result property="account_status" column="account_status" />
            <result property="last_login_time" column="last_login_time" />
            <result property="is_deleted" column="is_deleted" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="edit_time" column="edit_time" />
            <result property="company_id" column="company_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,role,email,phone,password,
        avatar_url,profile,account_status,last_login_time,is_deleted,
        create_time,update_time,edit_time,company_id
    </sql>
</mapper>
